@using SHIVAMFaceEcomm.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="container-fluid">
     

  

    <div class="row">
        <div class="col-sm-6">
            <h4>Login.</h4>
            <hr class="spacer-5"><hr class="spacer-20 no-border">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()
               
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "" })
                    
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-md" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                     
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "" })
                   
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control input-md" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                     
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1">
                        <div class="checkbox">
                            <div class="checkbox-input mb-10">
                                <input id="RememberMe" name="RememberMe" class="styled" type="checkbox">
                                <label for="RememberMe">
                                    Remember me
                                </label>
                            </div><!-- end checkbox-input -->
                          
                        </div>
                    </div>
                </div>
                <div class="form-group">
                     
                        <input type="submit" value="Log in" class="btn btn-default round btn-md">
                    
                </div>
               
                            @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
             <p>
            @Html.ActionLink("Register as a new user", "Register")
        </p>
            </p>*@
            }
              
        </div><!-- end col -->
        <div class="col-sm-6">
           @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end col -->
@*<h2>@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">

            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}