@model SHIVAM_ECommerce.ViewModels.UserViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form action="@Url.Action("Edit")" method="post">

    <h3>
        @Model.UserName
        @Html.HiddenFor(model => model.UserId)
    </h3>

    @for (var i = 0; i < Model.Claims.Count; i++)
    {
        @Html.HiddenFor(m => m.Claims[i].Id)
        @Html.CheckBoxFor(m => m.Claims[i].IsChecked)
        @Html.HiddenFor(m => m.Claims[i].ClaimValue)
        @Html.HiddenFor(m => m.Claims[i].ClaimType)
        @Html.DisplayFor(m => m.Claims[i].ClaimValue)
    }


    <button class="btn btn-primary" type="submit">Submit</button>

</form>