@model SHIVAM_ECommerce.Models.ProductStatus

@{
    ViewBag.Title = "Edit";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/Category">Product Status</a>
    </li>
    <li class="breadcrumb-item active">Update Product Status</li>
</ol>

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><i class="fa fa-plus"></i> Update Product Status</h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Edit", "ProductStatus", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)
               

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control col-md-10" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                       
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-3" })
                            <div class="col-md-10">
                                @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-control col-md-10" })
                                @Html.ValidationMessageFor(model => model.IsActive)
                            </div>
                        </div>
                       
                    </div>                    
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-default" type="submit"> <i class="fa fa-pencil"></i> Update</button>
                    </div>
                </div>
            </div>
        }
    </div>




</div>


@section Scripts {


    <script>
        $("#ParentCategory").addClass("form-control col-md-10")
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}




